.creations {
  margin-top: 96px;

  @media (min-width: 768px) {
    margin-top: 184px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;

    @media (min-width: 768px) {
      margin-bottom: 80px;
      justify-content: space-between;
    }
  }

  &__link {

    &--mobile {
      display: inline-block;
      margin: 0 auto;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
      }
    }
  }

  &__title {
    font-family: var(--font-2);
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 48px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 35px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
    }

    @media (min-width: 1199px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    position: relative;
    display: block;

    @media (hover: hover) {
      &:hover {
        .creations__card-title {
          color: var(--color-black);
        }
  
        &:before {
          height: 100%;
          background: rgba(255, 255, 255, 0.75);
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      z-index: 2;
      background: transparent;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 80%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    }

    &-title {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      font-weight: 300;
      font-size: 32px;
      font-family: var(--font-2);
      color: var(--color-white);
      line-height: 100%;
      text-transform: uppercase;
      padding: 20px;
      transition: color 0.3s ease-in-out;

      @media (min-width: 768px) {
        padding: 32px 40px;
      }
    }

    &-image {
      &.responsive-media {
        &::before {
          padding-top: 36.69%;

          @media (min-width: 768px) {
            padding-top: 175.78%;
          }
        }
      }
    }
  }
}
